#include <winver.h>

1 24 "app.manifest"

1 VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS         0x40004L
FILETYPE       0x1L
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
    {
      VALUE "FileDescription", "Dual Tone Generator"
      VALUE "FileVersion",     "1.0.0.0"
      VALUE "InternalName",    "DualToneGenerator"
      VALUE "OriginalFilename","DualToneGenerator.exe"
      VALUE "ProductName",     "Dual Tone Generator"
      VALUE "ProductVersion",  "1.0.0.0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1200
  }
}
